*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-family: 'Days One', sans-serif;
    background-image: url("../Glutenfree galeria/Gluten free fondo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: contain;
}
